@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-primary: #ff516d;
}
@layer base {
  body {
    @apply text-white;
  }
}
@layer components {
  /* .btn-load-more {
    @apply flex items-center ml-auto mr-auto mt-2 w-fit h-10 px-3 py-1 border-2 border-primary rounded-lg hover:bg-primary hover:scale-125 transition ease-out group;
  } */
  .div-load-more {
    @apply flex items-center ml-auto mr-auto mt-2 w-fit h-10 px-3 py-1 border-2 border-primary rounded-lg hover:bg-primary hover:scale-125 transition ease-out;
  }
  .btn-load-more {
    @apply text-lg text-center font-bold text-primary group-hover:text-white;
  }
  .container-newRelease-mobile {
    @apply grid grid-flow-col grid-cols-[repeat(10,minmax(150px,1fr))] overflow-x-auto hidden-scrollbar;
  }
}
.height-layout {
  height: calc(100vh - 16px);
}
.height-sidebar-item {
  height: calc(100vh - 104px - 24px);
}
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
.video-js {
  width: 100%;
  height: auto;
}
.newReleaseContainer {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(10, minmax(150px, 1fr));
  gap: 16px; /* khoảng cách giữa các phần tử */
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
}
body::-webkit-scrollbar {
  display: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
